@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* nav {
  @apply bg-gray-600 text-white;
  flex: auto;
  flex-direction: row;
  padding: 15px;

  ul {
    @apply flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

    li {
        @apply px-4;
        list-style-type: none;

        Link {
            @apply text-white;
            text-decoration: none;
            padding: 1em 1em 1em;
        }
    }
  }
} */